*{
    margin:  0px;
    padding: 0px;
    box-sizing: border-box;
}

.searchbox {
    position: relative; 
    width: 200px; 
    border: 2px solid orange;
}
.searchbox i{
    border: 2px solid red;
    position: absolute;
    left: 15px;
    top: 50px;
    color: rgb(80, 75, 75);
    transform: translateY(-180%);
}
.inputt{
    border: none;

    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    max-width: 100%;
    outline: none;
}

.inputt::placeholder {
    color: #999; 
    opacity: 1; 
    text-align: center;
    border: 2px solid red;
}
body{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.links{
    display: flex;
}
.links li {
    list-style: none;
    text-decoration: none;
    padding: 10px;
}
.links li a { 
text-decoration: none;
color: black;
padding: 5px;
font-weight:bolder;

}
.links li a:hover{
    background-color:  #88a1f8; 
    color: white;


}

.container{
    display: flex;
    margin: auto;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
    align-items: center;

}
.personcard img {
    width: 100%; 
    height: auto; 
    max-width: 150px;
    border-radius: 50%;
}
.navigation{
    display: flex;
    align-items: center; 
    height: 100px;}

.Card{
    background-color: #f2f5f6 ;
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px ;
    padding: 20px;
    margin: auto;
    width: 350px;
}
.Card:hover{background-color: rgb(232, 238, 238);
    border-color: rgb(210, 210, 233);
}
.personcard{
    display: flex;
    gap: 10px;
}
.details{
    margin-top: 40px;
}
.tag ul{
    border-color: black;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    font-size: small;
    padding: 0;
    margin: 0;
    gap: 10px;
}
.tag ul li{
    display: flex;
   border: 1px solid;
   border-radius: 6px;
   padding: 5px;
   color:  #7b91e0;
   border-color:#6b86e4;
   ;
}
.tag{
    margin-top: 20px;
}
.navigation{
    flex-direction: column;
}